html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
html {
    font-size: 4px;
}
body {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-weight: 800;
    background-color: #193bcb;
    font-size: 3rem;
    overflow: hidden;
}
a {
    color: white;
}
.hidden { visibility: hidden !important; }
.checked {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
.checked+.check {
    cursor: pointer;
}
.preload {
    background-image:
        url('images/Title.png'),
        url('images/TitleScreen.png'),
        url('images/GodHappy.png'),
        url('images/GodAngry.png');
    background-repeat: no-repeat;
    background-position: -99999px -99999px;
}
#container {
    width: 100%;
    flex-grow: 1;
    position: relative;
}
#container:active {
    cursor: move;
}
#container { overflow: hidden; }
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
    image-rendering: pixelated;
}

.title {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}
.title:before, .title:after {
    content: "";
    display: block;
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    image-rendering: pixelated;
}
.title:before {
    width: 640px;
    height: 480px;
    background-image: url('images/TitleScreen.png');
}
.title.win:before {
    background-image: url('images/GodHappy.png');
}
.title.lost:before {
    background-image: url('images/GodAngry.png');
}
.title:after {
    width: 480px;
    height: 120px;
    background-image: url('images/Title.png');
}

.menu-container {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
.menu-container .check {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    opacity: 0.5;
    background-size: cover;
    image-rendering: pixelated;
}
.menu-container .checked:focus+.check { opacity: 1; }
.pause-btn+.check { background-image: url('images/Pause.png'); }
.pause-btn:checked+.check { background-image: url('images/Play.png'); }
.menu-btn+.check { background-image: url('images/Settings.png'); }
.menu-btn:checked+.check { background-image: url('images/Close.png'); }

.menu {
    display: none;
    text-shadow: 0 1px black;
    color: white;
    text-transform: uppercase;
    text-align: left;
    font-size: 3.5rem;
}
.menu-btn:checked+.check+.menu { display: block; }

.menu div {
    display: flex;
    flex-flow: row;
    align-items: center;
}
.menu div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.menu label, .menu a {
    padding: 4px 8px;
    flex-grow: 1;
}
.menu label, .menu input {
    cursor: pointer;
}
.menu input {
    margin: 0;
    margin-right: 4px;
}
.menu select {
    padding: 4px 0;
    cursor: pointer;
    color: white;
    text-shadow: 0 1px black;
    text-align: right;
    font-family: monospace;
    font-size: 3.5rem;
    text-transform: uppercase;
    background: none;
    border: none;
    font-weight: 800;
}
.menu select option {
    color: black;
    text-align: right;
}
.menu a {
    cursor: pointer;
    display: block;
}

.btns {
    position: relative;
    width: 100%;
    display: flex;
    background-color: #113996;
    flex-direction: column-reverse;
}
.group-select, .group {
    padding-top: 1px;
    display: flex;
    flex-direction: row;
}
.group-select>.check, .group>div {
    margin-left: 1px;
    flex-grow: 1;
    box-sizing: border-box;
}
.group-select>.check, .btn, .tooltip {
    color: white;
    text-shadow: 0 1px black;
    text-align: center;
    user-select: none;
    text-transform: uppercase;
}
.group-select>.check {
    height: 12rem;
    position: relative;
}
.group-select>.check span {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    line-height: 0;
}
.group-select>.check:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.group-select>.checked:checked+.check {
    background-color: rgba(255, 255, 255, 0.2);
}
.group-select>.checked:focus+.check {
    background-color: rgba(255, 255, 255, 0.3);
}
.group.hidden { display: none; }
.group>div {
    display: flex;
    flex-direction: column;
}

.btn {
    position: relative;
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    filter: brightness(0.75) grayscale(0.75);

    width: 100%;
    min-height: 14rem;
    flex-grow: 1;
    padding: 0;
    border: none;
    cursor: pointer;
    font-family: monospace;
    font-weight: 800;
    font-size: 3rem;
}
.btn span  {
    position: absolute;
    top: 80%;
    left: 1rem;
    right: 1rem;
    margin-top: -1.5rem;
}
.btn:disabled {
    filter: brightness(0.6) grayscale(1) !important;
}
.btn:disabled:after, .btn:disabled:before { animation-duration: 1000000s; }
.btn:hover, .btn:focus { filter: brightness(1) grayscale(0); }
.btn:focus { outline: none; }

.btn:after,
.train:before, .untrain:before,
.baby:before, .summon:before,
.attack:before, .convert:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    image-rendering: pixelated;
    z-index: -1;
}

.train, .untrain, .attack, .convert {
    background-image: url('images/Arrow.png');
    background-repeat: no-repeat;
    background-position: center;
}
.train:before, .untrain:before,
.baby:before, .summon:before,
.attack:before, .convert:before,
.train:after, .untrain:after,
.attack:after, .convert:after {
    width: 8px;
    height: 12px;
    margin-top: -10px;
    transform: scale(2);
    animation: jobAnim 1s steps(1) infinite;
    filter: brightness(0.2)
        sepia(100%)
        hue-rotate(180deg)
        saturate(10);
}
.attack:before, .convert:before,
.attack:after, .convert:after {
    margin-top: -6px;
}
@keyframes jobAnim {
    0% { background-position: 0px 36px; }
    33% { background-position: 8px 36px; }
    66% { background-position: 16px 36px; }
}
.train:before, .untrain:before,
.attack:before, .convert:before {
    margin-left: -20px;
}
.train:after, .untrain:after,
.attack:after, .convert:after {
    margin-left: 12px;
}

.warrior:before, .warrior:after, .attack:before {
    background-image: url('images/Warrior.png');
}
.priest:before, .priest:after, .convert:before {
    background-image: url('images/Priest.png');
}
.builder:before, .builder:after {
    background-image: url('images/Builder.png');
}

.train:before, .untrain:after,
.baby:before, .summon:before,
.attack:after, .convert:after {
    background-image: url('images/Villager.png');
}

.build, .forestate {
    text-align: right;
    padding-right: 8px;
    box-sizing: border-box;
}
.house:after {
    width: 60px;
    margin-left: -30px;
    height: 110px;
    margin-top: -48px;
    background-position: 0px 110px;
    background-image: url('images/House.png');
}
.barracks:after,
.workshop:after {
    width: 100px;
    margin-left: -50px;
    height: 110px;
    margin-top: -45px;
    background-position: 0px 110px;
}
.barracks:after {
    background-image: url('images/Barracks.png');
}
.workshop:after {
    background-image: url('images/Workshop.png');
}
.temple:after {
    background-image: url('images/Temple.png');
    width: 100px;
    margin-left: -50px;
    height: 130px;
    margin-top: -52px;
    background-position: 0px 130px;
}
.greenHouse:after {
    background-image: url('images/GreenHouse.png');
    width: 56px;
    margin-left: -28px;
    height: 164px;
    margin-top: -70px;
    background-position: 0px 164px;
}

.bridge:after {
    background-image: url('images/Bridge.png');
    width: 178px;
    margin-left: -89px;
    height: 138px;
    margin-top: -28px;
    background-position: 0px 138px;
}

.forestate:after, .deforest:after {
    width: 30px;
    margin-left: -15px;
    height: 90px;
    margin-top: -32px;
    background-position: 0px 90px;
}
.forestate:after {
    background-image: url('images/Tree.png');
}
.deforest:after {
    background-image: url('images/FallingTree.png');
}
.sacrifice:after {
    width: 32px;
    margin-left: -16px;
    height: 128px;
    margin-top: -96px;
    background-image: url('images/Lightning.png');
}

.baby:after, .summon:after {
    background-image: url('images/SpecialEffects.png');
    width: 8px;
    margin-left: -4px;
    height: 12px;
    margin-top: -10px;
    transform: scale(2);
}
.baby:before, .summon:before {
    margin-left: -4px;
}
.baby:after {
    animation: baby 2s steps(1) reverse infinite;
}
.summon:after {
    animation: summon 2s steps(1) reverse infinite;
}
@keyframes baby {
    0% { background-position: 0px 12px; }
    16% { background-position: 8px 12px; }
    33% { background-position: 16px 12px; }
    50% { background-position: 24px 12px; }
    66% { background-position: 32px 12px; }
    83% { background-position: 40px 12px; }
}
@keyframes summon {
    0% { background-position: 0px 24px; }
    16% { background-position: 8px 24px; }
    33% { background-position: 16px 24px; }
    50% { background-position: 24px 24px; }
    66% { background-position: 32px 24px; }
    83% { background-position: 40px 24px; }
}

.pray:after {
    background-image: url('images/Pray.png');
    width: 16px;
    margin-top: -8px;
    height: 16px;
    margin-left: -8px;
    transform: scale(2);
}

.convert:before, .attack:before {
    animation-name: goRight;
}
.convert:after, .attack:after {
    filter: brightness(0.2)
        sepia(100%)
        hue-rotate(350deg)
        saturate(75);
}
@keyframes goRight {
    0% { background-position: 0px 48px; }
    33% { background-position: 8px 48px; }
    66% { background-position: 16px 48px; }
}

.retreat:after {
    content: "RETREAT";
    color: white;
    width: 100%;
    left: 0;
    top: 50%;
    text-align: center;
    line-height: 0;
}

.tooltip {
    display: none;
    width: 100%;
    font-size: 2.5rem;
    margin-top: 1px;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.3);
    line-height: 2.75rem;
}
.tooltips .tooltip { display: block; }

/* RESPONSIVE! */
@media (max-width:640px) and (max-aspect-ratio: 640/600) {
    .title:before, .title:after { height: 0; }
    .title:before { padding-top: 75%; }
    .title:after { padding-top: 18.75%; }
}
@media (min-aspect-ratio: 4/3) {
    body {
        flex-direction: row-reverse;
    }
    .btns {
        width: auto;
        height: 100%;
        flex-direction: row;
    }
    .group-select, .groups, .group {
        width: auto;
        height: 100%;
    }
    .group-select, .group {
        padding-top: 0;
        padding-right: 1px;
        flex-direction: column;
    }
    .group-select>.check, .group>div {
        height: initial;
        margin-top: 1px;
        margin-left: 0px;
    }
    .group-select>.check {
        width: 12rem;
    }
    .group>div {
        width: 16rem;
    }
    .btn { min-height: initial; }
    .group-select>.check span {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        text-shadow: 0 -1px black;
        left: 50%;
        right: initial;
        top: 0;
        bottom: 0;
    }
}